<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.acad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.acad.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.acad.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName="LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="LoginActivity" />
        </activity>
        <activity
            android:name="br.com.acad.activity.treino.TreinoActivity"
            android:label="@string/title_activity_treino"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="br.com.acad.activity.dieta.DietaActivity"
            android:label="@string/title_activity_dieta"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="br.com.acad.activity.aulas.AulasActivity"
            android:label="@string/title_activity_aulas"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="br.com.acad.activity.noticias.NoticiasActivity"
            android:label="@string/title_activity_noticias"
            android:parentActivityName="HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomeActivity" />
        </activity>
        <activity
            android:name="br.com.acad.activity.aulas.AulasDetalheActivity"
            android:label="@string/title_activity_aulas_detalhe"
            android:parentActivityName="AulasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="AulasActivity" />
        </activity>
        <activity
            android:name="br.com.acad.activity.noticias.NoticiasDetalheActivity"
            android:label="@string/title_activity_noticia_detalhe"
            android:parentActivityName="NoticiaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="NoticiaActivity" />
        </activity>
        <activity
            android:name="br.com.acad.activity.treino.FormBuscaTreinoActivity"
            android:label="@string/title_activity_form_busca_treino" >
        </activity>
        <activity
            android:name="br.com.acad.activity.treino.FormSolicitacaoTreinoActivity"
            android:label="@string/title_activity_form_solicitacao" >
        </activity>
    </application>

</manifest>
