

.ui-widget,     
    .ui-widget .ui-widget {     
    font-size: 12px !important;  
    margin: 0px;
    padding: 0px;
    border: 1px solid grey;
	font-family: 'Trebuchet MS';
}

.center{
	text-align: center;
}


.ui-tabs .ui-tabs-panel {
     -- padding: 20px 0px !important;
}

.alignTop {
	vertical-align: top;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}